* {
	box-sizing: border-box;
}

html, body {
	width: 1600px;
	height: 800px;
}

#board{
 border-radius: 10px;
	border: thin solid black;
	width: 1600px;
	height: 800px;
	position: relative;
}

#board:after{
 content: "";
display: table;
clear: both;
}

.bloque{
float: left;
 width: 199.5px;
 height: 199.5px;
 padding: 5px;
 text-align: center;
 border: thin solid black;
 position: relative;
}

.card img {
	max-width: 70%;
	max-height: 70%;
	position: relative;
}

.bloque:hover{
  background-color:black;
}
